@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

html {
	overflow-y: scroll;
}
body {
}
div {
}
section {
}
header {
}
footer {
}

h1 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h2 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h5 {
	margin-top: 0px;
	margin-bottom: 20px;
}
h6 {
	margin-top: 0px;
	margin-bottom: 20px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
	margin-bottom: 0px;
}
span {
}
dl {
}
dt {
}
a {
}
mark {
}
blockquote {
}
b,
strong {
}
i,
em {
}
u {
}
center {
}

ul,
ol {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0px 0px 0px 20px;
}
li {
}

img {
}
a img {
	border: 0px;
}

form {
}
fieldset {
}
label {
}
input[type=text] {
}
input[type=password] {
}
input[type=numeric] {
}
input[type=checkbox] {
}
input[type=radio] {
}
input:focus {
	outline: none;
}
textarea {
}
textarea:focus {
	outline: none;
}
select {
}
select:focus {
	outline: none;
}
button {
}
input[type=button] {
}
input[type=submit] {
}

table {
}
thead {
}
tbody {
}
tr {
}
th {
}
td {
}

article,
aside,
div,
dt,
figcaption,
footer,
form,
header,
hgroup,
html,
main,
nav,
section {
	display: block;
}